<nav>
  <img src="images/coffeefilter2.png" width="250px"  alt="coffee filter logo">
  <ul>
    <li><a href="all-coffees">All Coffees</a></li>
    <li><a href="/all-roasters">All Roasters</a></li>
    <li><a href="/login" class="signup">Sign Up</a></li>
  </ul>
</nav>
<div class="main">
  <div class="whatwedo">
<p>We allow coffee lovers to discover and order the best beans from top roasters. </p>
<p>Filter according to your taste and preferred brewing methods.</p> 
<button> <a href="/wizard">START FILTERING</a> </button>
  </div>
  <img src="images/animation_500_kcahs7bn.gif" alt="coffee spinning">
</div>
