<nav>
  <a href="/"><img src="images/coffeefilter2.png" alt="coffee filter logo"></a>
  <ul>
    <li><a href="/allcoffees">All Coffees</a></li>
    <li><a href="/all-roasters">All Roasters</a></li>
    <li><a href="/signup" class="signup">Sign Up</a></li>
  </ul>
</nav>
<div class="main">
  <div class="whatwedo">
<p>We allow coffee lovers to discover and order the best beans from top roasters. </p>
<p>Filter according to your taste and preferred brewing methods.</p> 
<button> <a href="/wizard">START FILTERING</a> </button>
  </div>
  <lottie-player src="https://assets5.lottiefiles.com/temp/lf20_yGoGWr.json" background="transparent"  speed="1"  style="width: 600px; height: 600px;" loop autoplay></lottie-player>
</div>
