<nav>
  <a href="/"><img src="../images/coffeefilter2.png" class="logo"  alt="coffee filter logo"></a>
  <ul>
    <li><a href="/allcoffees">All Coffees</a></li>
    <li><a href="/allroasters">All Roasters</a></li>
    <li><a href="/signup" class="signup">Sign Up</a></li>
  </ul>
</nav>

<form action="/login" method="POST">
  <div class="signup-wrapper">
    <img src="/images/coffee-stain.png" alt="stain">
    <div class="signup-right">
      <h2>Roaster login</h2>
      <label for="username">Username</label>
      <input type="text" name="username" required/>
      <label for="password">Password</label>
      <input type="password" name="password" required/>
      {{#if message}}
      <div>{{message}}</div>
      {{/if}}
      <button type="submit">Login</button>
      <h3>Not yet a member > <a href="/signup">Signup</a></h3>
    </div>
  </div>
</form>