<lottie-player src="https://assets4.lottiefiles.com/packages/lf20_lhKAwb.json"  background="transparent"  speed="1"  style="width: 700px; height: 700px;"  loop autoplay></lottie-player>
<form action="/signup" method="POST">

  <label for="username">Username</label>
  <input type="text" name="username"/>

  <label for="password">Password</label>
  <input type="password" name="password"/>

  {{#if message}}
    <div>{{message}}</div>
  {{/if}}

  <button type="submit">Sign up</button>
</form>