<form action="/wizard" method="post"></form>
  <div class = "brewing-method">
    <legend>How do you brew your coffee?</legend>

    <div class = "form-wrapper">
      <div>
        <img src="images/mokkapot.svg" alt="mokka icon">
        <label for="Mokka Pot">Mokka Pot</label>
        <input type="checkbox" id="Mokka Pot" name="Mokka Pot" value="Mokka Pot">
      </div>
      
      <div>
        <img src="images/v60.svg" alt="v60 icon">
        <label for="V60">V60</label>
        <input type="checkbox" id="V60" name="V60" value="V60">
      </div>

      <div>
        <img src="images/frenchpress.svg" alt="french-press icon">
        <label for="French Press">Mokka Pot</label>
        <input type="checkbox" id="French Press" name="French Press" value="French Press">
      </div>

      <div>
        <img src="images/aeropress.svg" alt="aereo-press icon">
        <label for="Aereo Press">Aero Press</label>
        <input type="checkbox" id="Aereo Press" name="Aereo Press" value="Aero Press">
      </div>

      <div>
        <img src="images/chemex.svg" alt="chemex icon">
        <label for="Chemex">Chemex</label>
        <input type="checkbox" id="Chemex" name="Chemex" value="Chemex">
      </div>

      <div>
        <img src="images/espresso.svg" alt="espresso-machine icon">
        <label for="Espresso Machine">Espresso Machine</label>
        <input type="checkbox" id="Espresso Machine" name="Espresso Machine" value="Espresso Machine">
      </div>
    </div>
    
    <button>Next</button>
  </div>

  <div class = "acidity-strength">
    <legend>Please choose your preferred acidity and strength levels</legend>
    
    <div class="form-wrapper">
      <label for="acidity">Acidity</label>
      <input type="radio" id="acidity" name="acidity" value="1">
      <input type="radio" id="acidity" name="acidity" value="2">
      <input type="radio" id="acidity" name="acidity" value="3">
      <input type="radio" id="acidity" name="acidity" value="4">
      <input type="radio" id="acidity" name="acidity" value="5">

      <label for="strength">Strength</label>
      <input type="radio" id="strength" name="strength" value="1">
      <input type="radio" id="strength" name="strength" value="2">
      <input type="radio" id="strength" name="strength" value="3">
      <input type="radio" id="strength" name="strength" value="4">
      <input type="radio" id="strength" name="strength" value="5">
    </div>

    <button>Next</button>
  </div>

  <div class = "taste-characteristics">
    <legend>Please choose your preferred taste characteristics</legend>
    
    <div class = "form-wrapper">
      <label for="nutty">Nutty</label>
      <input type="checkbox" id="nutty" name="nutty" value="nutty">

      <label for="sweet">Sweet</label>
      <input type="checkbox" id="sweet" name="sweet" value="sweet">

      <label for="herbal">Herbal</label>
      <input type="checkbox" id="herbal" name="herbal" value="herbal">

      <label for="chocolate">Chocolate</label>
      <input type="checkbox" id="chocolate" name="chocolate" value="chocolate">

      <label for="floral">Floral</label>
      <input type="checkbox" id="floral" name="floral" value="floral">
    </div>
    
    <button type="submit">Filter</button>
  </div>

</form>
