<form action="/wizard3" method="POST">

  <div class = "taste-characteristics">
    <legend>Please choose your preferred taste characteristics</legend>
    
    <div class = "taste-wrapper">
      <div>
      <label for="nutty">Nutty</label>
      <input type="checkbox" id="nutty" name="nutty" value="nutty">
      </div>

      <div>
      <label for="sweet">Sweet</label>
      <input type="checkbox" id="sweet" name="sweet" value="sweet">
      </div>

      <div>
      <label for="herbal">Herbal</label>
      <input type="checkbox" id="herbal" name="herbal" value="herbal">
      </div>

      <div>
      <label for="chocolate">Chocolate</label>
      <input type="checkbox" id="chocolate" name="chocolate" value="chocolate">
      </div>

      <div>
      <label for="floral">Floral</label>
      <input type="checkbox" id="floral" name="floral" value="floral">
      </div>
    </div>
    
    <button type="submit">Filter</button>
  </div>
</form>