<div class="topbar">
  <a href="/"><img src="images/coffeefilter2.png" width="250px"  alt="coffee filter logo"></a>
  <a href="/"><img src="images/equis.svg" alt="close wizard"></a>
</div>

<form action="/wizard" method="POST">
  <div class = "brewing-method">
    <legend>How do you brew your coffee?</legend>

    <div class = "form-wrapper">
      <div>
        <img src="images/mokkapot.svg" alt="mokka icon">
        <label for="mokkapot">Mokka Pot</label>
        <input type="checkbox" id="mokkapot" name="mokkapot" value="mokkapot">
      </div>
      
      <div>
        <img src="images/v60.svg" alt="v60 icon">
        <label for="v60">V60</label>
        <input type="checkbox" id="v60" name="v60" value="v60">
      </div>

      <div>
        <img src="images/frenchpress.svg" alt="french-press icon">
        <label for="frenchpress">French Press</label>
        <input type="checkbox" id="frenchpress" name="frenchpress" value="frenchpress">
      </div>

      <div>
        <img src="images/aeropress.svg" alt="aereo-press icon">
        <label for="aeropress">Aero Press</label>
        <input type="checkbox" id="aeropress" name="aeropress" value="aeropress">
      </div>

      <div>
        <img src="images/chemex.svg" alt="chemex icon">
        <label for="chemex">Chemex</label>
        <input type="checkbox" id="chemex" name="chemex" value="chemex">
      </div>

      <div>
        <img src="images/espresso.svg" alt="espresso-machine icon">
        <label for="espressomachine">Espresso Machine</label>
        <input type="checkbox" id="espressomachine" name="espressomachine" value="espressomachine">
      </div>
    </div>
    
    <button type="submit">Next</button>
  </div>
</form>
  