<div class="topbar">
  <a href="/"><img src="../images/coffeefilter2.png" class="logo" alt="coffee filter logo"></a>
  <a href="/"><img src="../images/equis.svg" alt="close wizard"></a>
</div>
<form action="/wizard/results" method="POST">

  <div class = "taste-characteristics">
    <legend>Please choose your preferred taste characteristics</legend>
    
    <div class = "taste-wrapper">
      <div>
      <label for="nutty">Nutty</label>
      <input type="checkbox" id="nutty" name="taste" value="nutty">
      </div>

      <div>
      <label for="sweet">Sweet</label>
      <input type="checkbox" id="sweet" name="taste" value="sweet">
      </div>

      <div>
      <label for="herbal">Herbal</label>
      <input type="checkbox" id="herbal" name="taste" value="herbal">
      </div>

      <div>
      <label for="chocolate">Chocolate</label>
      <input type="checkbox" id="chocolate" name="taste" value="chocolate">
      </div>

      <div>
      <label for="floral">Floral</label>
      <input type="checkbox" id="floral" name="taste" value="floral">
      </div>
    </div>
    <input type="hidden" name="brewingmethod" value="{{brewingmethod}}">
    <input type="hidden" name="acidity" value="{{acidity}}">
    <input type="hidden" name="strength" value="{{strength}}">
    <button type="submit">Filter</button>
  </div>
</form>