<form action="/wizard" method="POST">
  <div class = "brewing-method">
    <legend>How do you brew your coffee?</legend>

    <div class = "form-wrapper">
      <div>
        <img src="images/mokkapot.svg" alt="mokka icon">
        <label for="mokkapot">Mokka Pot</label>
        <input type="checkbox" id="mokkapot" name="mokkapot" value="mokkapot">
      </div>
      
      <div>
        <img src="images/v60.svg" alt="v60 icon">
        <label for="v60">V60</label>
        <input type="checkbox" id="v60" name="v60" value="v60">
      </div>

      <div>
        <img src="images/frenchpress.svg" alt="french-press icon">
        <label for="frenchpress">French Press</label>
        <input type="checkbox" id="frenchpress" name="frenchpress" value="frenchpress">
      </div>

      <div>
        <img src="images/aeropress.svg" alt="aereo-press icon">
        <label for="aeropress">Aero Press</label>
        <input type="checkbox" id="aeropress" name="aeropress" value="aeropress">
      </div>

      <div>
        <img src="images/chemex.svg" alt="chemex icon">
        <label for="chemex">Chemex</label>
        <input type="checkbox" id="chemex" name="chemex" value="chemex">
      </div>

      <div>
        <img src="images/espresso.svg" alt="espresso-machine icon">
        <label for="espressomachine">Espresso Machine</label>
        <input type="checkbox" id="espressomachine" name="espressomachine" value="espressomachine">
      </div>
    </div>
    
    <a>Next</a>
  </div>

  <div class = "acidity-strength">
    <legend>Please choose your preferred acidity and strength levels</legend>

    <div class="as-wrapper">
      <label for="acidity">Acidity</label>
      <div><input type="radio" id="acidity" name="acidity" value="1"><span>1</span></div>
      <div><input type="radio" id="acidity" name="acidity" value="2"><span>2</span></div>
      <div><input type="radio" id="acidity" name="acidity" value="3"><span>3</span></div>
      <div><input type="radio" id="acidity" name="acidity" value="4"><span>4</span></div>
      <div><input type="radio" id="acidity" name="acidity" value="5"><span>5</span></div>
    </div>

    <div class="as-wrapper">
      <label for="strength">Strength</label>
      <div><input type="radio" id="acidity" name="acidity" value="1"><span>1</span></div>
      <div><input type="radio" id="acidity" name="acidity" value="2"><span>2</span></div>
      <div><input type="radio" id="acidity" name="acidity" value="3"><span>3</span></div>
      <div><input type="radio" id="acidity" name="acidity" value="4"><span>4</span></div>
      <div><input type="radio" id="acidity" name="acidity" value="5"><span>5</span></div>
    </div>
      
    <a>Next</a>
  </div>

  <div class = "taste-characteristics">
    <legend>Please choose your preferred taste characteristics</legend>
    
    <div class = "taste-wrapper">
      <div>
      <label for="nutty">Nutty</label>
      <input type="checkbox" id="nutty" name="nutty" value="nutty">
      </div>

      <div>
      <label for="sweet">Sweet</label>
      <input type="checkbox" id="sweet" name="sweet" value="sweet">
      </div>

      <div>
      <label for="herbal">Herbal</label>
      <input type="checkbox" id="herbal" name="herbal" value="herbal">
      </div>

      <div>
      <label for="chocolate">Chocolate</label>
      <input type="checkbox" id="chocolate" name="chocolate" value="chocolate">
      </div>

      <div>
      <label for="floral">Floral</label>
      <input type="checkbox" id="floral" name="floral" value="floral">
      </div>
    </div>
    
    <button type="submit">Filter</button>
  </div>

</form>
