

body {
  margin: 5rem 10rem 3rem 10rem;
  padding: 0px;
  font-family: Montserrat;
  font-size: 16px;
}

a {
  color: #2FB2BA;
  text-decoration: none; }

nav {
  font-family: "Rubik Mono One";
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 5rem;
}

nav img, .logo {
  width: 250px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  margin-left: 2.5rem;
  list-style: none;
}


.signup {
  color: #DE8A40;
}

.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.whatwedo {
  width: 400px;
  font-size: 1.5rem;
  font-weight: 500;
}

.whatwedo button {
  margin-top: 1rem;
}

button {
  color: white;
  font-size: 1.3rem;
  background-color: #2FB2BA;
  border-style: none;
  padding: 15px;
  border-radius: 12px;
}

button a {
  color: white;
  font-weight: 700;
}

legend {
  margin-top: 10rem;
  align-self: center;
  color: #2FB2BA;
  font-size: 2rem;
  font-weight: 700;
}

.topbar {
  display: flex;
  justify-content: space-between;
  margin: 0rem 10rem;
}

.form-wrapper {
  display: flex;
  flex-direction: row;
	justify-content: space-evenly;
  align-items: flex-end;
}

.form-wrapper div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.taste-wrapper div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.form-wrapper div image, label, input {
  margin: 1rem 0;
}

.taste-wrapper img{
  max-width: 20%;
}
 
.brewing-method, .acidity-strength, .taste-characteristics {
  display: flex;
  flex-direction: column;
  margin: 0 7rem;
}

.brewing-method button, .acidity-strength button, .taste-characteristics button {
  color: white;
  font-size: 1.3rem;
  background-color: #2FB2BA;
  border-style: none;
  padding: 15px;
  border-radius: 12px;
  align-self: flex-end;
  margin-right: 5rem;
}

.acidity-strength button {
  margin-top: 4rem;
}

.brewing-method > div, .acidity-strength > div {
  margin-top: 5rem;
}

.as-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.as-wrapper div {
  display: flex;
  flex-direction: column;
}

.taste-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.coffee-results {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.coffee-results img {
  height: 15rem;
  align-self: center;
}

.coffee-results h2 {
  color: #995234;
}

.coffee-results h3 {
  color: #DE8A40;
  font-size: 2rem;
}

.coffee-description {
  max-width: 45%;
  min-width: 20rem;
  margin: 0 2rem;
}

.coffee-order {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem;
}

.coffee-order label {
  align-self: center;
  color: #2FB2BA;
  font-size: 1.5rem;
  font-weight: 700;
}

.centered {
  align-self: center;
}

.input {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 10rem;
}

.upload {
  display: flex;
  flex-flow: column nowrap;
}

.uploadfeature {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.acc-taste-form-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 5rem 10rem 0 10rem;
}

.taste-wrapper label {
  font-size: 1rem;
  font-weight: 400;
  color: black;
}

.dashboard {
  display: flex;
  justify-content: space-between;
}

.dashboard img {
  width: 10rem;
}

.dashboard-left {
  display: flex;
  flex-direction: column;
}

.dashboard-left button {
  margin-top: 2rem;
}

.dashboard-right {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 1rem;
}

.dashboard-right a {
  font-family: "Rubik Mono One";
  margin-right: 1rem;
}

.dashboard-right .delete {
  color: #DE8A40;
}

.dashboard-right h3 {
  margin-left: 1rem;
  color: #995234;
}

.dashboard-coffees {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #F3F3F3;
  border-bottom: 1px solid #A0A0A0;
}

.coffee-add {
  align-self: flex-end;
  background-color: #995234;
  margin-bottom: 1rem;
}

.edit-delete-buttons {
  margin-left: 0.5rem;
}

.allroasters {
  display: flex;
  flex-flow: row wrap;
}

.allroasters img {
  max-width: 10rem;
  object-fit: contain;
  align-self: center;
}

.coffee-image-edit {
  max-width: 10rem;
}

.brewing-method-wrapper2 {
  display: flex;
  flex-flow: column wrap;
  margin: 5rem 10rem 0rem 10rem;
}

.brewing-method-wrapper2 label {
  align-self: flex-start;
}

.coffee-button {
  align-self: flex-end;
}

.profileedit {
  display: flex;
}

.profileUploader img {
  width: 10rem;
}

.profileUploader {
  display: flex;
  flex-flow: column wrap;
}

.popoto {
  display: flex;
  justify-content: flex-start;
}

.signup-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.signup-wrapper img {
  width: 50%;
  max-width: 30rem;
}

.signup-right {
  display: flex;
  flex-flow: column wrap;
}

.signup-right button {
  align-self: center;
}

.signup-right label {
  font-family: "Rubik Mono One";
  color: #995234;
}

.signup-right h2 {
  font-family: "Rubik Mono One";
  color: #10696E;
}

.signup-right h3 {
  font-family: "Rubik Mono One";
  color: #10696E;
  margin-top: 3rem;
}

@media (min-width: 452px) and (max-width: 864px) {
  body {
    margin: 1.5rem;
  }

  nav {
    margin-bottom: 2rem;
  }

  nav ul {
    display: flex;
    flex-flow: column nowrap;
  }

  nav ul li {
    margin-left: 0;
  }

  .logo {
    width: 200px;
  }

  .signup-wrapper img {
    margin-bottom: 2rem;
  }
}

@media (max-width: 451px) { 
  body {
    margin: 1.5rem;
  }

  nav {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    margin-bottom: 2rem;
  }

  nav ul {
    display: flex;
    flex-flow: column nowrap;
  }

  nav ul li {
    margin-left: 0;
  }

  .logo {
    width: 200px;
  }

  .coffee-description {
    margin: 0;
  }

  .signup-wrapper img {
    margin-bottom: 2rem;
  }
}
