

body {
  margin: 5rem 10rem;
  padding: 0px;
  font-family: Montserrat;
  font-size: 16px;
}

a {
  color: #2FB2BA;
  text-decoration: none; }

nav {
  font-family: "Rubik Mono One";
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 5rem;
}

nav img, .logo {
  width: 250px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  padding-left: 2.5rem;
  list-style: none;
}


.signup {
  color: #DE8A40;
}

.main {
  display: flex;
  justify-content: space-around;
}

.whatwedo {
  width: 400px;
  margin-top: 8rem;
  font-size: 1.5rem;
  font-weight: 500;
}

button {
  color: white;
  font-size: 1.3rem;
  background-color: #2FB2BA;
  border-style: none;
  padding: 15px;
  border-radius: 12px;}

button a {
  color: white;
  font-weight: 700;
}

legend {
  margin-top: 10rem;
  align-self: center;
  color: #2FB2BA;
  font-size: 2rem;
  font-weight: 700;
}

.topbar {
  display: flex;
  justify-content: space-between;
  margin: 0rem 10rem;
}

.form-wrapper {
  display: flex;
  flex-direction: row;
	justify-content: space-evenly;
  align-items: flex-end;
}

.form-wrapper div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.taste-wrapper div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.form-wrapper div image, label, input {
  margin: 1rem 0;
}

.taste-wrapper img{
  max-width: 20%;
}
 
.brewing-method, .acidity-strength, .taste-characteristics {
  display: flex;
  flex-direction: column;
  margin: 0 7rem;
}

.brewing-method button, .acidity-strength button, .taste-characteristics button {
  color: white;
  font-size: 1.3rem;
  background-color: #2FB2BA;
  border-style: none;
  padding: 15px;
  border-radius: 12px;
  align-self: flex-end;
  margin-right: 5rem;
}

.brewing-method > div, .acidity-strength > div {
  margin-top: 5rem;
}

.as-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5rem 0 2rem 0;

}

.as-wrapper div {
  display: flex;
  flex-direction: column;
}

.taste-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.taste-wrapper div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.coffee-results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.coffee-results img {
  height: 15rem;
}

.coffee-results h2 {
  color: #995234;
}

.coffee-results h3 {
  color: #DE8A40;
  font-size: 2rem;
}

.coffee-description {
  max-width: 45%;
  min-width: 20rem;
  margin: 0 1rem;
}

.coffee-order {
  margin-left: 1rem;
}